.container {
  display: block;
  margin: 0 auto;
  width: 100%; }

.flex-row {
  display: flex;
  justify-content: center; }
  .flex-row .col {
    flex: 1; }

@media (min-width: 1024px) {
  .container {
    width: 1000px; } }
