@font-face {
	font-family: 'VentiCF-Bold';
	src: url('./../assets/font/venti/venti-cf-bold.eot');
	src: url('./../assets/font/venti/venti-cf-bold.eot?#iefix') format('embedded-opentype'),
             url('./../assets/font/venti/venti-cf-bold.woff2') format('woff2'),
	     url('./../assets/font/venti/venti-cf-bold.woff') format('woff'),
	     url('./../assets/font/venti/venti-cf-bold.ttf') format('truetype'),
	     url('./../assets/font/venti/venti-cf-bold.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'VentiCF-Medium';
	src: url('./../assets/font/venti/venti-cf-medium.eot');
	src: url('./../assets/font/venti/venti-cf-medium.eot?#iefix') format('embedded-opentype'),
             url('./../assets/font/venti/venti-cf-medium.woff2') format('woff2'),
	     url('./../assets/font/venti/venti-cf-medium.woff') format('woff'),
	     url('./../assets/font/venti/venti-cf-medium.ttf') format('truetype'),
	     url('./../assets/font/venti/venti-cf-medium.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'VentiCF-Regular';
	src: url('./../assets/font/venti/venti-cf-regular.eot');
	src: url('./../assets/font/venti/venti-cf-regular.eot?#iefix') format('embedded-opentype'),
             url('./../assets/font/venti/venti-cf-regular.woff2') format('woff2'),
	     url('./../assets/font/venti/venti-cf-regular.woff') format('woff'),
	     url('./../assets/font/venti/venti-cf-regular.ttf') format('truetype'),
	     url('./../assets/font/venti/venti-cf-regular.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'VentiCF-Light';
	src: url('./../assets/font/venti/venti-cf-light.eot');
	src: url('./../assets/font/venti/venti-cf-light.eot?#iefix') format('embedded-opentype'),
             url('./../assets/font/venti/venti-cf-light.woff2') format('woff2'),
	     url('./../assets/font/venti/venti-cf-light.woff') format('woff'),
	     url('./../assets/font/venti/venti-cf-light.ttf') format('truetype'),
	     url('./../assets/font/venti/venti-cf-light.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}